.filme-info{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
    margin: 0 auto;
}

.filme-info h1{
    margin: 14px 0 ;
}
.filme-info img{
    width: 800px;
    max-width: 100%;
    border-radius: 8px;
    max-height: 340px;
    object-fit: cover;
}

.filme-info h3{
    margin-top: 14px;
}

.filme-info span{
    margin: 8px 0 ;
    
}

.area-buttons button{
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border:none;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #adadad;
}

.area-buttons a {
    text-decoration: none;
    color: black;
}

.area-buttons button:hover{
    background-color: #116F3B; 
}

.pagina-init{
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border:none;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #adadad;
}
.pagina-init:hover{
  background-color: #116F3B; 
}